{% extends "bootstrap/base.html" %}

{% block head %}
{% block metas %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock metas %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../static/about_us.css">
{% endblock %}
{% endblock %}

{% block body %}
<div id='background'>
  {% block content %}
  {% block navbar %}
  <nav class="navbar transparent navbar-inverse ">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>        
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
      <a class="navbar-brand" href="/"><img src="../static/dr.png"></a>
      <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Aboneaza-te</a></li>
            <li><a href="#">Vezi toate evenimentele</a></li>
            <li><a href="/about_us">Despre noi</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/contact_us">Contactează-ne</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Caut&#259">         
        </div>
        <button type="submit" class="btn btn-default btn-search" >    
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </form> 
    </div>
  </nav>
  {% endblock %}  
  
  <!-- SECTION HEADER -->
        <div class="section-header">
    
    <!-- SECTION TITLE -->
    <h1 class="white-text">ABOUT US</h1>
    
    <!-- SHORT DESCRIPTION ABOUT THE SECTION -->
    <div class="container">
      <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-12">

<h3>Cine suntem noi?</h3>
<h4>Noi suntem un grup de 6 fete cu vîrsta cuprinsă între 17 – 20 ani, instruit de 2 mentori foarte foarte foarte foarte foarte foarte frumoși și inteligenți – Vlad și Iulian. Ne-am creat ca grup în cadrul taberei de vară „Girls go IT”, care are drept scop dezvoltarea competențelor fetelor în tehnologiile informaționale. </h4>

<h3>Care este scopul nostru?</h3>

<h4>Fiecare tînăr din Republica Moldova să descopere care este visul său!</h4>

<h3>De ce este important?</h3>
<h4>Observăm că tot mai mulți absolvenți sunt confuzi în alegerea profesiei și uneori chiar abandonează facultatea pe care au ales-o, pentru că nu li se potrivește. Ca să nu ajungi și tu în această situație, noi te provocăm să participi la cît mai multe activități în cadrul cărora ai putea să-ți descoperi competențele și ulterior să faci o alegere corectă în domeniul profesional. </h4>

<h3>De ce dodo.md?</h3>
<h4>dodo.md te ține la curent cu toate oportunitățile de dezvoltare personală. Este ușor și comod de accesat și poate deveni cel mai inteligent mentor al tău care te ajută să te descoperi !</h4>

<h3>Beneficiază de orice oportunitate de dezvoltare personală!</h3>
<h3> dodo.md te susține!</h3>
              </div>
             </div>
            </div>
          </div>
        </div>
      </div>      
    </div>


    </h3>
  </div>
  <!-- / END SECTION HEADER -->

  </div>
  </div>
  {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript">
     $(document).ready(function() {
      $('#media').carousel({
        pause: true,
        interval: false,
      });
    });
   </script>
 {% endblock %}
 {% endblock %}
 {% endblock %}