{% extends 'base.html' %}

{% block styles %}
{{super()}}
{% endblock %}

{% block content %}
<!-- SECTION HEADER -->
<form class = "form">
<div class="section-header">

  <!-- SECTION TITLE -->
  <h2 class="about-t" align = center>DESPRE NOI</h2>

  <!-- SHORT DESCRIPfTION ABOUT THE SECTION -->
                <h3 style="text-align:center">Cine suntem noi?</h3>
                <h4>Noi suntem un grup de 6 fete cu vîrsta cuprinsă între 17 – 20 ani, instruit de 2 mentori foarte foarte foarte foarte foarte foarte frumoși și inteligenți – Vlad și Iulian. Ne-am creat ca grup în cadrul taberei de vară „Girls go IT”, care are drept scop dezvoltarea competențelor fetelor în tehnologiile informaționale. </h4>

                <h3 style="text-align:center">Care este scopul nostru?</h3>

                <h4 style="text-align:center">Fiecare tînăr din Republica Moldova să descopere care este visul său!</h4>

                <h3 style="text-align:center">De ce este important?</h3>
                <h4>Observăm că tot mai mulți absolvenți sunt confuzi în alegerea profesiei și uneori chiar abandonează facultatea pe care au ales-o, pentru că nu li se potrivește. Ca să nu ajungi și tu în această situație, noi te provocăm să participi la cît mai multe activități în cadrul cărora ai putea să-ți descoperi competențele și ulterior să faci o alegere corectă în domeniul profesional. </h4>

                <h3 style="text-align:center">De ce dodo.md?</h3>
                <h4>dodo.md te ține la curent cu toate oportunitățile de dezvoltare personală. Este ușor și comod de accesat și poate deveni cel mai inteligent mentor al tău care te ajută să te descoperi !</h4>

                <h3 style="text-align:center">Beneficiază de orice oportunitate de dezvoltare personală!</h3>
                <h3 style="text-align:center"> dodo.md te susține!</h3>
              </div>
            </div>
</div>
<!-- / END SECTION HEADER -->

</div>
</form>
</div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
 $(document).ready(function() {
  $('#media').carousel({
    pause: true,
    interval: false,
  });
});
</script>
{% endblock %}  
