
{% extends "bootstrap/base.html" %}

{% block head %}
  {% block metas %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  {% endblock metas %}

  {% block styles %}
    {{ super() }}
  {% endblock %}
{% endblock %}

{% block content %}
  <form method="post" action="/add_event">
{{form.csrf_token}}
<ul style="list-style: none;">
<li class='col-md-offset-3 col-md-5'>
{{form.title.label}}
{{form.title(class_='form-control')}}
</li>

<li class='cold-md-offset-3 col-md-5'>
{{form.content.label}}
{{form.content(class_='form-control')}}
</li>

<li class='col-md-offset-3 col-md-5'>
{{form.start_date.label}}
{{form.start_date(class_='form-control')}}
</li>

<li class='col-md-offset-3 col-md-5'>
{{form.end_date.label}}
{{form.end_date(class_='form-control')}}
</li>

<li class='col-md-offset-3 col-md-5'>
{{form.organizers.label}}
{{form.organizers(class_='form-control')}}
</li>

<li class='col-md-offset-3 col-md-5'>
{{form.published_at.label}}
{{form.published_at(class_='form-control')}}
</li>

<li class='col-md-offset-3 col-md-5'>
{{form.price.label}}
{{form.price(class_='form-control')}}
</li>

<li class='col-md-offset-3 col-md-5'>
{{form.photo.label}}
{{form.photo(class_='form-control')}}
</li>

<li class='col-md-offset-3 col-md-5'>
{{form.additional_info.label}}
{{form.additional_info(class_='form-control')}}
</li>

<li class='col-md-offset-3 col-md-5'>
{{form.target_group.label}}
{{form.target_group(class_='form-control')}}
</li>

<li class='col-md-offset-3 col-md-5'>
{{form.location.label}}
{{form.location(class_='form-control')}}
</li>

<li class='col-md-offset-3 col-md-5'>
{{form.district_id.label}}
{{form.district_id(class_='form-control')}}
</li>

<li class='col-md-offset-3 col-md-5'>
{{form.category.label}}
{{form.category(class_='form-control')}}
</li>

<li class='col-md-offset-3 col-md-5'>
{{form.eventType.label}}
{{form.eventType(class_='form-control')}}
</li>

<li class='col-md-offset-3 col-md-5'>
{{form.phone.label}}
{{form.phone(class_='form-control')}}
</li>

<li class='col-md-offset-3 col-md-5'>
{{form.email.label}}
{{form.email(class_='form-control')}}
</li>

{{form.submit}}
</ul>
</form>
{% endblock %}

{% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
{% endblock %}
