{% extends 'bootstrap/base.html'%}

{% block content %}
<div class="row">
  <div class="col-md-12">
  <form action="" method="post" name="Inputs">
  {{form.csrf_token}}
    {{form.titlu.label}}
    {{form.titlu}}
   </br> 
    {{form.content.label}}
    {{form.content}}
   </br> 
   {{form.start_date.label}}
    {{form.start_date}}
   </br>
   {{form.end_date.label}}
    {{form.end_date}}
   </br>
   {{form.organizers.label}}
    {{form.organizers}}
   </br>
   {{form.published_at.label}}
    {{form.published_at}}
   </br>
   {{form.price.label}}
    {{form.price}}
   </br>
   {{form.photo.label}}
    {{form.photo}}
   </br>
   {{form.additional_info.label}}
    {{form.additional_info}}
   </br>
    {{form.category_id}} 
	</form>
	</div>
</div>
{% endblock%}