
{% extends 'base.html' %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
href="{{url_for('.static', filename='event.css')}}">
{% endblock %}

{% block content %}

<form class="form" method="post" action="/event">
  <div class="content content">
    <div class="font">Posteaza un eveniment</div>
    <div class="form-group input">
      {{form.csrf_token}}
      <div class="form-group input">
        {{form.titlu.label(class="text")}}
        {{form.titlu(class_='form-control', placeholder=form.titlu.label.text) }}
      </div>
      <div class="form-group input">
        {{form.start_date.label(class="text")}}
        {{form.start_date(class_='form-control', placeholder=form.start_date.label.text) }}
      </div>
      <div class="form-group input">
        {{form.end_date.label(class="text")}}
        {{form.end_date(class_='form-control', placeholder=form.end_date.label.text) }}
      </div>
      <div class="form-group input">
        {{form.organizers.label(class="text")}}
        {{form.organizers(class_='form-control', placeholder=form.organizers.label.text) }}
      </div>
      <div class="form-group input">
        {{form.price.label(class="text")}}
        {{form.price(class_='form-control', placeholder=form.price.label.text) }}
      </div>
      <div class="form-group input">
        {{form.additional_info.label(class="text")}}
        {{form.additional_info(class_='form-control', placeholder=form.additional_info.label.text) }}
      </div>
      <div class="form-group input">
        {{form.location.label(class="text")}}
        {{form.location(class_='form-control', placeholder=form.location.label.text) }}
      </div>
      <div class="form-group input">
        {{form.phone.label(class="text")}}
        {{form.phone(class_='form-control', placeholder=form.phone.label.text) }}
      </div>
      <div class="form-group input">
       {{form.photo.label(class="text")}}
       {{form.photo(class_='form-control')}}
     </div>
     <div>
       {{form.category_id.label(class="text")}}
       {{form.category_id(class="form-control")}}

     </div>

   </div>
   {{form.district_id.label(class="text")}}
   {{form.district_id(class="form-control")}}

 </div>

 <div>
  {{form.type_event_id.label(class="text")}}
  {{form.type_event_id(class="form-control")}}

</div>

<div>
  {{form.target_group_id.label(class="text")}}
  {{form.target_group_id(class="form-control")}}

</div>


<div class="form-group">
  {{form.submit(class="form-control buton btn btn-danger btn-block btn-lg",
  placeholder=form.submit.label.text)}}
</div>

</form>

{% endblock %}