{% extends 'base.html' %}


{% block styles %}
{{ super() }}

<link rel="stylesheet" 
href="{{url_for('.static', filename='main.css')}}">
<link rel="stylesheet" 
href="{{url_for('.static', filename='creative.css')}}">
<!-- <link rel="stylesheet" 
href="{{url_for('.static', filename='carousel_main.css')}}">
 -->
{% endblock %}


{% block content %}
{% if current_user.is_authenticated() %}
<div class= "new" Welcome {{ current_user.nume }}! </div>
  {% endif %}

  <div class="container">
    <div class="col-md-offset-4 margin_top_100">
      <img src="../static/dodo.png" style="width:350px;height:100px; text-align:center"> 
    </div>
    <div class="margin_top_30">
      <h2 style="color:white; text-align:center">
        Ca sfârșitul să aleagă bine începutul
      </h2>
    </div>
    <div class="row">
      <div class="col-md-offset-3 col-md-3">   
        <a href="/list_all_events" class="btn btn-default btn-lg btn-index"><span class="glyphicon glyphicon-circle-arrow-right"></span> Vezi ce ți se potrivește</a>
      </div>
      <div class="col-md-offset-7">
        <a href="/categories" class="btn btn-default btn-lg btn-index"><span class="glyphicon glyphicon-th"></span> Categorii</a>
      </div>
    </div>
  </div>

<br>
<br>

{% if not events%}
<div id="portfolio"></div>
{% else %}
<section class="no-padding" id="portfolio"  style="background:#222; max-height:20px;">
    <div class="container-fluid" >
        <div class="row no-gutter">
        
        {% for event in events %}
        {% if loop.index <= 3 %}
        <div class="col-lg-4 col-sm-6" align="center" style="vertical-align:middle" >
            <a href="/showevent/{{event.id}}" class="portfolio-box" align="center" >
                <img src="{{event.photo}}" class="img-responsive" alt="" style="vertical-align:middle; max-height:220px; width:100%">
                <div class="portfolio-box-caption" >
                    <div class="portfolio-box-caption-content">
                        <div class="project-category text-faded">
                            {{event.titlu}}
                        </div>
                        <div class="project-name">
                            {{event.content}}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
        {% endfor %}

        {% for i in range(loop.index, 7)%}
            <div class="col-lg-4 col-sm-6">
            <a class="portfolio-box-inactive">
                <!-- <img src="../static/img/portfolio/default.jpg" class="img-responsive" alt=""> -->
                <img src="{{imag[i-1]}}" class="img-responsive" alt="" style="max-height:220px; width:100%;">

                <div class="portfolio-box-caption-inactive">
                    <div class="portfolio-box-caption-content-inactive">
                        <div class="project-category-inactive text-faded">
                            <br><br>
                            Coming soon
                        </div>
                        <div class="project-name-inactive">
                            În curînd aici va apărea un nou eveniment :)
                        </div>
                    </div>
                </div>
            </a>
            </div>
        {% endfor %}       
{% endif %}

  <!-- <div class="container"> -->
  <!-- <div class='row'>
    <div class='col-md-offset-1 col-md-10'>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner inner-carousel">


         <div class="item active carousel-item ">
          <div class="row" align="center">
            {% for event in events%}
            {% if loop.index<=3 %}
            <div class=" col-md-4 carousel-item ">
              <a class="thumbnail" href="/showevent/{{event.id}}"><img alt="" src="{{event.photo}}"></a>
            </div>          
            {% endif %}
            {% endfor %}
          </div>
        </div>

        {% for event in events%}
        {% if loop.index == 4%}
        <div class="item carousel-item ">
          <div class="row">
            {% endif %}
            {% if loop.index > 4 and loop.index <=7 %}
            <div class="col-md-4 carousel-item ">
              <a class="thumbnail" href="/showevent/{{event.id}}"><img alt="" src="{{event.photo}}"></a>
            </div>
            {% endif%}          
            {% endfor %}
          </div>
        </div>


        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a>
      </div>
    </div>
  </div>
</div> -->
</div>
</div>
<br>


<form class="form">
<button type="button" class="btn btn-default btn-lg">
  <span class="height_100 glyphicon glyphicon-envelope" aria-hidden="true"> Abonează-te</span>
  </button>
  <!-- Footer -->
<footer>

  <div class="row">
    <div class="col-xs-12">
      <p>Copyright &copy; dodo 2015 </p>
    </div>
  </div>
</form>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#media').carousel({
      pause: true,
      interval: false,
    });
  });
</script>

{% endblock %}
