{% extends 'base.html' %}

{% block head %}
{% block metas %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock metas %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" 
href="{{url_for('.static', filename='main.css')}}">
<link rel="stylesheet" 
href="{{url_for('.static', filename='carousel_main.css')}}">

{% endblock %}
{% endblock %}


{% block content %}
{% if current_user.is_authenticated() %}
  Hi {{ current_user.nume }}!
{% endif %}

<div class="container">
  <div class="col-md-offset-4 margin_top_100">
    <img src="../static/dodo.png" style="width:350px;height:100px; text-align:center"> 
  </div>
  <div class="margin_top_30">
    <h2 style="color:white; text-align:center">
      Ca sfârșitul să aleagă bine începutul
    </h2>
  </div>
  <div class="row">
    <div class="col-md-offset-3 col-md-3">   
      <a href="/listevents" class="btn btn-default btn-lg btn-index"><span class="glyphicon glyphicon-circle-arrow-right"></span> Vezi ce ți se potrivește</a>
    </div>
    <div class="col-md-offset-7">
      <a href="/categories" class="btn btn-default btn-lg btn-index"><span class="glyphicon glyphicon-th"></span> Categorii</a>
    </div>
  </div>
</div>
<!-- <div class="container"> -->
  <div class='row'>
    <div class='col-md-offset-1 col-md-10'>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner inner-carousel">

         <div class="item active carousel-item ">
            <div class="row" align="center">
            {% for event in events%}
            {% if loop.index<=3 %}
              <div class=" col-md-4 carousel-item ">
                <a class="thumbnail" href="/showevent/{{event.id}}"><img alt="" src="{{event.photo}}"></a>
              </div>          
              {% endif %}
              {% endfor %}
            </div>
          </div>

        {% for event in events%}
        {% if loop.index == 4%}
        <div class="item carousel-item ">
          <div class="row">
          {% endif %}
          {% if loop.index > 4 and loop.index <=7 %}
                <div class="col-md-4 carousel-item ">
                  <a class="thumbnail" href="/showevent/{{event.id}}"><img alt="" src="{{event.photo}}"></a>
                </div>
                {% endif%}          
            {% endfor %}
        </div>
      </div>


            <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
            <a data-slide="next" href="#media" class="right carousel-control">›</a>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

<!-- </div> -->
{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript">
 $(document).ready(function() {
  $('#media').carousel({
    pause: true,
    interval: false,
  });
});
</script>

{% endblock %}

