{% extends 'show_event.html' %}

{% block styles %}
{{super()}}
<link rel="stylesheet" 
href="{{url_for('.static', filename='main.css')}}">
{% endblock %}

{% block content %}
<div class="ro">
	{% if not events%}
	<form class="form" align="center" action="/">
		<h2 align="center">La moment nu avem nici un eveniment.<br>Te așteptăm să revii mai tîrziu :)</h2>
		<button class="btn-success btn-default btn-lg"><span><i class=" glyphicon glyphicon-arrow-left"></i></span> Înapoi la pagina principală</button>
	</form>
	{% else %}
		{% for event in events %}
		<!-- <a href="/showevent/{{event.id}}"><h1>{{event.titlu}}</h1></a>	 -->
		<div class = "form animated flipInX" >

			<div class="form-group" align="center">
				<a href="/showevent/{{event.id}}"><h1>{{event.titlu}}</h1></a>
			</div>

			<div name = "Info event" class = "add_20_margin">
				<!-- !!!probleme cu DateTime-->
				<div name = "Start Date" class="form-group input">
					{%if event.start_date %}
					<label>Începutul evenimentului:</label> {{event.start_date}}
					{%endif%}
				</div>

				<!-- !!!probleme cu DateTime-->
				<div name = "End Date" class="form-group input">
					{%if event.end_date%}
					<label>Sfîrșitul evenimentului:</label> {{event.end_date}}
					{%endif%}
				</div>

				<div name = "Price" class="form-group input">
					{%if event.price%}
					<label>Preț:</label> {{event.price}} lei
					{%endif%}
				</div>

				<div name = "Location" class="form-group input">
					{%if event.location%}
					<label>Locația:</label> {{event.location}}
					{%endif%}
				</div>

				<div name = "Category" class="form-group input">
					{%if event.category%}
					<label>Categoria:</label> {{event.category.name}}
					{%endif%}
				</div>

				<div name = "Type" class="form-group input">
					{%if event.type%}
					<label>Tipul evenimentului:</label> {{event.type.name}}
					{%endif%}
				</div>

				<div name = "Target group" class="form-group input">
					{%if event.target_group%}
					<label>Grup țintă:</label> {{event.target_group.name}}
					{%endif%}
				</div>

				<div name = "Organizer" class="form-group input">
					{%if event.organizer%}
					<label>Organizator:</label> {{event.organizer}}
					{%endif%}
				</div>

				<div name = "Email" class="form-group input">
					{%if event.email%}
					<label>Email:</label> {{event.email}}
					{%endif%}
				</div>

				<div name = "Phone" class="form-group input">
					{%if event.phone%}
					<label>Tel:</label> {{event.phone}}
					{%endif%}
				</div>

				<div name = "Additional info" class="form-group input">
					{%if event.additional_info%}
					<label>Informație adițională:</label> {{event.additional_info}}
					{%endif%}
				</div>


				<a href="/showevent/{{event.id}}">
					<div class="row"> 
						<div id="carousel-example-generic" class="carousel slide" data-ride="carousel" align="center">
							<div align="center">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-example-generic" data-slide-to="1"></li>
									<li data-target="#carousel-example-generic" data-slide-to="2"></li>
								</ol>


								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item active" >	
										<img src="{{event.photo}}" alt="..." class ="carousel_img">
										<div class="carousel-caption">
										</div>  
									</div>
									{% for img in event.images %}
									<div class="item" >	
										<img src="{{img.image_link}}" alt="..." class ="carousel_img">
										<div class="carousel-caption">
										</div>  
									</div>
									{% endfor %}
								</div>

								<!-- Controls -->
								<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
									<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
									<span class="sr-only">Previous</span>
								</a>
								<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
									<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
									<span class="sr-only">Next</span>
								</a>
							</div>
						</div>
					</div>
				</a>
				<!-- !!!probleme cu DateTime-->
				<div name = "Published at" align="right" class = 'gray_text add_top_margin_20px'> 
					publicat la: {{event.published_at}}
				</div>
			</div>
		</div>
	</div>

	{% endfor %}
{% endif %}

{% endblock %}